@import url(fonts/clear-sans.css);
html, body {
    margin: 20px;
    padding: 0;
    background: #f096ac;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    overflow: hidden;
    max-width: 550px;
    left: 50%;
}

body {
    margin: 80px 0;
    justify-content: center;
    align-items: center;
}

.heading:after {
    content: "";
    display: block;
    clear: both;
}

#canvas0 {
    /* padding-left: 0;
    padding-right: 0; */
    margin-top: 10px;
    margin-bottom: 10px;
    color: #776e65;
    background: #f096ac;
    display: block;
    align-items: center;
}

.container {
    width: 550px;
    left: 50%;
}

/* h1.title {
  color: #000000;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    display: block;
} */

h1{
    text-align: left;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    /*line-height: 1.65;*/
}

p {
  text-align: left;
  /* left: 30px; */
  color: #000000;
  font-size: 15px;
  /* font-weight: bold; */
  margin-top: 0;
  margin-bottom: 0px;
  /*line-height: 1.65;*/
}

a {
   color: #000000;
   font-weight: bold;
   text-decoration: underline;
   cursor: pointer;
}

strong.important {
   text-transform: uppercase;
}

hr {
   border: none;
   border-bottom: 1px solid #d8d4d0;
   margin-top: 20px;
   margin-bottom: 30px;
}


button {
    background-color: #bbada0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 5px;
    cursor:pointer;
}

img {
    /*padding: 10px 15px;*/
    /*align-items: center;*/
    margin-bottom: 5px;
    margin-right: 16px;
    margin-top: 5px;
    margin-left: 16px;
}

.scores-container {
    /* float: right; */
    /* text-align: right; */
}

.score-container, .best-container {
    position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    /* margin-left: 3px; */
    /* margin-right: 3px; */
    text-align: center;
}

.save-container {

  /*position: absolute;*/
  display: inline-flex;
  float: left;
  padding: 15px 15px;
  text-align: left;
  font-weight: bold;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 8px;

}

.score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;
}
.added-score-container .connected {
  position: absolute;
  float: right;
  background: #77DD77;
  padding: 15px 60px;
  border-radius: 3px;
  /*height: 25px;*/
  font-size: 20px;
  /*line-height: 47px;*/
  font-weight: bold;
  color: white;
  z-index: 100;
  /*margin-top: 8px;*/

  -webkit-animation: move-up 1000ms ease-in;
  -moz-animation: move-up 1000ms ease-in;
  animation: move-up 1000ms ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 1000ms ease-in;
    -moz-animation: move-up 1000ms ease-in;
    animation: move-up 1000ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

.score-container .score-reduction {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.7);
    z-index: 100;
    -webkit-animation: move-down 1000ms ease-in;
    -moz-animation: move-down 1000ms ease-in;
    animation: move-down 1000ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}


.score-container:after {
    content: "Score";
}

.best-container:after {
    content: "Best";
}


.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}



.game-container {
  /*margin-top: 40px;*/
  position: relative;
  /*padding: 15px;*/
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  /*border-radius: 6px;*/
  /*width: 500px;
  height: 500px;*/
  /* left: 50%; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

  .game-container .game-message {
    display: block;
    position: absolute;
    /*background: rgba(238, 228, 218, 0.5);*/
    /*z-index: 100;
    text-align: center;*/
    -webkit-animation: fade-in 1000ms ease 1800ms;
    -moz-animation: fade-in 1000ms ease 1800ms;
    animation: fade-in 1000ms ease 1800ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

    .game-container .game-message .game-won {
      position: absolute;

      display: block;
      background: rgba(237, 194, 46, 0.5);
      padding-left: 130;
      padding-right: 130;
      padding-top: 50;
      padding-bottom: 50;
      font-size: 60px;
      font-weight: bold;
      /*height: 60px;*/
      /*line-height: 60px;*/
      /*margin-top: 222px;*/
      color: #f9f6f2;
    }
      .game-container .game-message .game-won a.keep-playing-button {
        display: inline-block;
      }
    /*.game-container .game-message.game-won, .game-container .game-message.game-over {
      display: inline-block;
    }*/


@-webkit-keyframes move-up {
    0% {
        top: 25px;
        opacity: 1;
    }
    100% {
        top: -50px;
        opacity: 0;
    }
}

@-webkit-keyframes move-down {
    0% {
        top: 25px;
        opacity: 1;
    }
    100% {
        top: 50px;
        opacity: 0;
    }
}

@-moz-keyframes move-up {
    0% {
        top: 25px;
        opacity: 1;
    }
    100% {
        top: -50px;
        opacity: 0;
    }
}

@-moz-keyframes move-down {
    0% {
        top: 25px;
        opacity: 1;
    }
    100% {
        top: 50px;
        opacity: 0;
    }
}

@keyframes move-up {
    0% {
        top: 25px;
        opacity: 1;
    }
    100% {
        top: -50px;
        opacity: 0;
    }
}

@keyframes move-down {
    0% {
        top: 25px;
        opacity: 1;
    }
    100% {
        top: 50px;
        opacity: 0;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
/*
.game-message.game-won a.keep-playing-button {
    display: inline-block;
}

.game-message.game-won,  .game-message.game-over {
    display: block;
}


.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; }

.restart-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right; }

.game-explanation {
  margin-top: 50px; }

@media screen and (max-width: 520px) {
  html, body {
    font-size: 15px; }

  body {
    margin: 20px 0;
    padding: 0 20px; }

  h1.title {
    font-size: 27px;
    margin-top: 15px; }

  .container {
    width: 280px;
    margin: 0 auto; }

  .score-container, .best-container {
    margin-top: 0;
    padding: 15px 10px;
    min-width: 40px; }

  .heading {
    margin-bottom: 10px; }

  .game-intro {
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; }

  .restart-button {
    width: 42%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px; }


  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important; }
  .game-message .lower {
    margin-top: 30px !important; } } */
